.success{
    color: green;
}

.danger{
    color: blueviolet;
}

.warning{
    color: brown;
}

.special{
    font-style: italic;
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}