<p>category-edit works!</p>

<form [formGroup]="formGroup" class="example-form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="categoryName" formControlName="categoryName" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Category Status</mat-label>
    <mat-select formControlName="categoryStatus" required>
      <mat-option value="1">Active</mat-option>
      <mat-option value="0">Inactive</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Update</button>
  <button id="id" type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
</form>