
<button routerLink="/demo">Demo</button>
<br>
<br>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br>
<br>
   <div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>
<br>
   <div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>
<br>
<div class="demo-section">
    Button with a badge on the left
    <button mat-raised-button color="primary"
      matBadge="8" matBadgePosition="before" matBadgeColor="accent">
    Action
    </button>
</div>
<br>
<div class="demo-section">
    Button toggles badge visibility <br>
    <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
        Hide
    </button>
    </div>
<br>
<div class="demo-section">
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
    <span class="cdk-visually-hidden">
    Example with a home icon with overlaid badge showing the number 15
    </span>
</div>
<br>
<br>
<section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <!--mat-divider></mat-divider -->
  <section>
    <div class="example-label">Stroked</div>
    <div class="example-button-row">
      <button mat-stroked-button>Basic</button>
      <button mat-stroked-button color="primary">Primary</button>
      <button mat-stroked-button color="accent">Accent</button>
      <button mat-stroked-button color="warn">Warn</button>
      <button mat-stroked-button disabled>Disabled</button>
      <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <section>
    <div class="example-label">Flat</div>
    <div class="example-button-row">
      <button mat-flat-button>Basic</button>
      <button mat-flat-button color="primary">Primary</button>
      <button mat-flat-button color="accent">Accent</button>
      <button mat-flat-button color="warn">Warn</button>
      <button mat-flat-button disabled>Disabled</button>
      <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <section>
    <div class="example-label">Icon</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
          <!--mat-icon>more_vert</mat-icon-->
        </button>
        <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
          <!--mat-icon>home</mat-icon-->
        </button>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
          <!--mat-icon>menu</mat-icon-->
        </button>
        <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
          <!--mat-icon>favorite</mat-icon-->
        </button>
        <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
          <!--mat-icon>open_in_new</mat-icon-->
        </button>
      </div>
    </div>
  </section>
  <section>
    <div class="example-label">FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
            <!--mat-icon>delete</mat-icon-->
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
            <!--mat-icon>bookmark</mat-icon-->
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab color="warn" aria-label="Example icon button with a home icon">
            <!--mat-icon>home</mat-icon-->
          </button>
        </div>
        <div class="example-button-container">
          <button mat-fab disabled aria-label="Example icon button with a heart icon">
            <!--mat-icon>favorite</mat-icon-->
          </button>
        </div>
      </div>
    </div>
  </section>
 <br>
  <section>
    <div class="example-label">Mini FAB</div>
    <div class="example-button-row">
      <div class="example-flex-container">
        <div class="example-button-container">
          <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
            <!--mat-icon>menu</mat-icon-->
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
            <!--mat-icon>plus_one</mat-icon-->
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
            <!--mat-icon>filter_list</mat-icon-->
          </button>
        </div>
        <div class="example-button-container">
          <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
            <!--mat-icon>home</mat-icon-->
          </button>
        </div>
      </div>
    </div>
  </section>
  <br>
  <br>
  <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle value="bold">Bold</mat-button-toggle>
    <mat-button-toggle value="italic">Italic</mat-button-toggle>
    <mat-button-toggle value="underline">Underline</mat-button-toggle>
  </mat-button-toggle-group>
  <br>
  <br>
  <mat-card>
    <mat-card-content>Simple card</mat-card-content>
  </mat-card>
  <br>
  <br>
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <br>
  <section class="example-section" [formGroup]="toppings">
    <h4>Select your toppings:</h4>
    <p><mat-checkbox formControlName="pepperoni">Pepperoni</mat-checkbox></p>
    <p><mat-checkbox formControlName="extracheese">Extra Cheese</mat-checkbox></p>
    <p><mat-checkbox formControlName="mushroom">Mushroom</mat-checkbox></p>
  </section>
  <section class="example-section" [formGroup]="toppings">
    <h4>You chose:</h4>
    {{toppings.value | json}}
  </section>
  <br>
  <br>

<!-- 
    <mat-list>
      <mat-list-item>Item 1</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 2</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>Item 3</mat-list-item>
    </mat-list>
-->
  